In [ ]:
#PD_10_Kushagra Suryawanshi

# For dataset 1

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

In [2]:
#importing dataset
dataset = pd.read_csv("2010-capitalbikeshare-tripdata.csv")
#dataset summary
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Duration              115597 non-null  int64
 1   Start date            115597 non-null  object
 2   End date              115597 non-null  object
 3   Start station number  115597 non-null  int64
 4   Start station         115597 non-null  object
 5   End station number    115597 non-null  int64
 6   End station           115597 non-null  object
 7   Bike number           115597 non-null  object
 8   Member type           115597 non-null  object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB
None

In [3]:
dataset

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member
...,...,...,...,...,...,...,...,...,...
115592,2179,2010-12-31 23:20:32,2010-12-31 23:56:52,31110,20th St & Florida Ave NW,31623,Columbus Circle / Union Station,W00859,Casual
115593,953,2010-12-31 23:21:57,2010-12-31 23:37:50,31106,Calvert & Biltmore St NW,31401,14th St & Spring Rd NW,W00914,Member
115594,737,2010-12-31 23:27:28,2010-12-31 23:39:45,31602,Park Rd & Holmead Pl NW,31401,14th St & Spring Rd NW,W00973,Member
115595,514,2010-12-31 23:37:38,2010-12-31 23:46:12,31111,10th & U St NW,31202,14th & R St NW,W01119,Member
115596,51962,2010-12-31 23:49:05,2011-01-01 14:15:08,31111,10th & U St NW,31111,10th & U St NW,W00771,Casual

In [4]:
# separation of features, class label
X = dataset.iloc[:, [0,3,5]].values    #duration,start st.# & end st.#
y = dataset.iloc[:, -1].values #member type
print(X)
print(y)

[[ 1012 31208 31108]
 [   61 31209 31209]
 [ 2690 31600 31100]
 ...
 [  737 31602 31401]
 [  514 31111 31202]
 [51962 31111 31111]]
['Member' 'Member' 'Member' ... 'Member' 'Member' 'Casual']

In [5]:
#label encoding member type col
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)
print("Sample y: ",y[:5])
print("0: ",labelencoder_y.classes_[0])
print("1: ",labelencoder_y.classes_[1])

Sample y:  [1 1 1 1 1]
0:  Casual
1:  Member

In [6]:
#splitting of data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state=0)

In [7]:
#machine classifier /classifier: decision tree
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', min_samples_leaf=4,random_state=0)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', min_samples_leaf=4, random_state=0)

In [8]:
#predicting the Test set results
y_pred = classifier.predict(X_test)

In [9]:
#making the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[ 3368  2721]
 [ 2641 20170]]

In [10]:
from sklearn.metrics import accuracy_score
print("Accuracy = ",accuracy_score(y_test, y_pred))

Accuracy =  0.8144636678200692

# For dataset 2

In [11]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
# load dataset
dataset = pd.read_csv("diabetes.csv")

In [12]:
dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [13]:
#split dataset in features and target variable
feature_cols = ['Pregnancies', 'Insulin', 'BMI', 'Age','Glucose','BloodPressure','DiabetesPedigreeFunction']
X = dataset[feature_cols] # Features
y = dataset.Outcome # Target variable

In [14]:
X

,Pregnancies,Insulin,BMI,Age,Glucose,BloodPressure,DiabetesPedigreeFunction
0,6,0,33.6,50,148,72,0.627
1,1,0,26.6,31,85,66,0.351
2,8,0,23.3,32,183,64,0.672
3,1,94,28.1,21,89,66,0.167
4,0,168,43.1,33,137,40,2.288
...,...,...,...,...,...,...,...
763,10,180,32.9,63,101,76,0.171
764,2,0,36.8,27,122,70,0.340
765,5,112,26.2,30,121,72,0.245
766,1,0,30.1,47,126,60,0.349
767,1,0,30.4,23,93,70,0.315

In [15]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [16]:
#machine classifier /classifier: decision tree
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', min_samples_leaf=4,random_state=0)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', min_samples_leaf=4, random_state=0)

In [21]:
#making the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[114  32]
 [ 45  40]]

In [18]:
# Create Decision Tree classifier object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifier
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7705627705627706